[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=josh
WorkingDirectory=/home/josh/sites/DOMAIN
EnvironmentFile=/home/josh/sites/DOMAIN/.env

ExecStart=/home/josh/sites/DOMAIN/django_tdd_venv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
